{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/grid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div>

        </div>
{#        <h1>My game thing</h1>#}

<div class="container">
<div class="row">
<div class="col-md-2">
    {% include 'includes/stats.html' %}
</div>
<div class="col-md-8">
        <div class="center">
        {% block content %}{% endblock content %}
        </div>
</div>
<div class="col-md-2">
    {% include 'includes/header_nav.html' %}
</div>
</div>
</div>
    </body>
{#    <footer>copyright Joshua Stortz 2014</footer>#}
</html>