{% extends 'base_template.html' %}


{% block content %}
    <h4>dorm</h4>
    This small dorm has your dirty matress on the floor and a pile of change in corner
    <br>
    <p>Even though it's dirty and made you miss you next class, your nap restored your health</p>
    <br>
    <a href="{% url 'map' %}">return to map</a>
{#    <a href="{% url 'zone' %}">go to a zone</a>#}
{#    <a href="{% url 'win' %}">win combat</a>#}
{#    <a href="{% url 'lose' %}">lose combat</a>    #}
{% endblock content %}